.modalCustom{
    max-width: 385px !important;
}

.message{
    color: rgb(66 66 66);
    margin: 0;
    font-size: 14px;
}

.footer{
    margin-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3px;
}

.buttonConfirm{
    background: #fff;
    color: #D11A2A;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0 18px;
    height: 35px;
    border-radius: 20px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s;
}

.buttonConfirm:hover{
    background: #dddddd38;
    cursor: progress;
}

.buttonConfirm:disabled{
    color: #0079d3a6;
    cursor: progress;
}

.buttonCancel{
    background: #fff;
    margin: 0;
    padding: 0 18px;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    border-radius: 20px;
    min-width: 80px;
    transition: .2s;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttonCancel:hover{
    background: #dddddd38;
}
